version: '2.1'

services:

  mysql:
    container_name: mysql
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: cryptobalancecheck
      MYSQL_USER: sa
      MYSQL_PASSWORD: password
    ports:
    - "3306:3306"
    expose:
    - "3306"
    volumes:
    - dbdataonly:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "-usa", "-ppassword",  "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  #  phpmyadmin:
  #    image: phpmyadmin/phpmyadmin
  #    links:
  #    - mysql
  #    environment:
  #      PMA_HOST: mysql
  #      PMA_PORT: 3306
  #    ports:
  #    - '9980:80'
  #    restart: on-failure
  #    depends_on:
  #      mysql:
  #        condition: service_healthy

  cryptobalancecheck:
    build:
      context: ../
      dockerfile: ./Docker/Dockerfile
    image: cryptobalancecheck
    ports:
    - '9999:8080'
    - '8000:8000'
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  dbdataonly:
    driver: local
    driver_opts:
      device: ${PWD}/data
      o: bind